<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!-- 
          Google Drive settings 
    -->
    
    <add key="Google.UserName" value="andrey.bobrov.dev" />
    
    <!-- 
          Pipe-separated "|" list of files to sync
          
          By default it creates the same folder structure as it was on the file system
          If you want to change the folder structure, you can specify a new path after semicolon
          For example: D://my/myfolder/myfile.txt;new/newfolder/
          
          Batch options
          D://my/myfolder/*;new/newfolder/ - this will sync ALL files UNDER myfolder (bot including inner folders)
          D://my/myfolder/**;new/newfolder/ - this will sync ALL files UNDER myfolder RECURSIVELY
    -->
    <add key="Google.Files" value="D://my/myfolder/test.txt;new/newfolder/" />
    
    <!-- 
          A root folder on the GDrive where we put all the files
          Specify "/" if you want it to be the GDrive root 
    -->
    <add key="Google.DriveRootFolder" value="~cloudsyncutil" />
    
    <!-- 
          ./ Google Drive settings 
    -->
    
    
    <!-- 
          Advanced Settings 
          DANGER: DON'T CHANGE ANYTHING HERE UNLESS YOU KNOW WHAT YOU DOING 
    -->
    
    <!-- 
          Google stores access tokens in a folder under %AppData% 
          This is the folder name 
    -->
    <add key="Advanced.Google.FileDataStore" value="CloudSyncUtil.FileDataStore" />
    
    <!-- Coma-separated list of field names to include in the list request by default -->
    <add key="Adavanced.Google.FileList.FieldsToInclude" value="files(id,md5Checksum,name,webContentLink,modifiedTime)" />
    
    <!--
          ./ Advanced Settings 
    -->
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>